// HEADER 
.header{
    position: relative;
    height: 100vh;

    &__slider{


        &-item{
            
            height: 100vh;            
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
        }
    }

    &__bigtitle{
        position: absolute;
        top: 0;
        left: -15px;
    }

    &__map{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
    }

    &__arrows-down{
        position: absolute;
        bottom: 4%;
        left: 12%;
        z-index: 1;

    }
}



#slider-item-0{
    background-image: url(../img/header-bg1.jpg);
}
#slider-item-1{
    background-image: url(../img/header-bg2.jpg);
}
#slider-item-2{
    background-image: url(../img/header-bg3.jpg);
}
#slider-item-3{
    background-image: url(../img/header-bg4.jpg);
}



.slider-item__info{
    text-align: right;
    font-size: 15px;
    position: absolute;
    right: 5.44rem;
    bottom: 7.734rem;
    text-align: right;
    color: #fff;

    &-title{
        margin-bottom: 3.2rem;
    }

}

.slider-item__info-subtitle{
    margin-bottom: 0.335rem;
}

.slider-item__info-link{
    margin-top: 1.334rem;
}

// Стрелки слайдера 

.sliders-arrowsHeader{
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 3.6em;
    right: 80px;
    z-index: 4;

    &__left{
        right: 125px;
    }
}

// Слайдер дотс 


.slider-dots{
    font-size: 15px;
    position: absolute;
    bottom: 2.667em;
    right: 5.334em;
    display: flex;

   
}

.dots-box{
    color: #fff;
    font-size: 15px;
    width: 13.334em;
    display: flex;
    position: relative;
    margin-left: 2.667em;
    justify-content: space-between;
    align-items: center;
    line-height: 2.267em;  

    border-top: 4px solid #fff;

    &__number{
        font-weight: 800;
        font-size: 1.6em;      
    }

    &__name{
        font-weight: 300;
        font-size: 1.067em;
        text-transform: capitalize;
    } 
}

.slick-current{
    .dots-box{
        border-top: 4px solid $accent;
    }
}

// nav 
.nav{
    border-right: 1px solid  rgba(#fff, .25);
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    img{
        max-width: 150px;
        width: 100%;
    }   
}

.menu{
    font-size: 15px;
      
    &__list{
        text-align: center;        
        a{
            transition: color .2s ease-in;
            color: #fff;           
            span{
                display: block;
                font-weight: 500;
                font-size: 0.75rem;
                line-height: 1.167rem;
                letter-spacing: 3px;
                margin-bottom: 2rem; 
                text-transform: capitalize;              
            }
            &:hover{
                color: $accent;           
            }
        }
    }
}


.header__search{
    text-align: center;
}

.header__date{
    text-align: center;
    font-size: 72px;
    font-weight: 800;
    margin-top: 15px;
    span{
        display: block;
        font-size: 16px;
        font-weight: 300;

    }
}

.header__location{
    margin: 1em 0;
    font-size: 12px;
    line-height: 1.25em;
    font-weight: 300;
    text-transform: capitalize;
}

.animate-line{
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animdash 4s infinite 5s;
}
    
    @keyframes animdash {
        to{
            stroke-dashoffset: 0;
        }
    }




